* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.container {
  width: 1440px; }

html {
  scroll-behavior: smooth; }

a {
  text-decoration: none;
  color: #4D4C49; }

li {
  list-style: none; }

.header-wrapper {
  max-width: 1160px;
  margin: 0 auto;
  padding-top: 25px; }

.header-logo {
  letter-spacing: 0;
  font-family: "Hind Siliguri", sans-serif;
  color: #4D4C49;
  height: 28px;
  width: 83px;
  font-size: 17px;
  font-weight: bold;
  line-height: 28px; }

.header-navigation {
  display: flex;
  justify-content: space-between; }

.header-navigation__list {
  display: flex;
  padding-right: 28px; }

.header-navigation__item {
  height: 25px;
  width: 38px;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 30px;
  margin-left: 40px; }

.portfolio-item {
  padding-left: 2px; }

.blog-item {
  position: relative;
  padding-left: 18px; }

.blog-item::after {
  content: '';
  position: absolute;
  top: 22px;
  width: 30px;
  border-top: 1px solid #4D4C49; }

.pages-item {
  padding-left: 11px; }

.about-item {
  padding-left: 11px; }

.contact-item {
  padding-left: 13px; }

.main {
  max-width: 1160px;
  margin: 0 auto; }

.main-head {
  text-align: -webkit-center;
  padding-top: 46px; }

.main-head__header {
  letter-spacing: 0;
  font-family: "Hind Siliguri", sans-serif;
  color: #4D4C49;
  height: 39px;
  width: 164px;
  font-size: 24px;
  font-weight: 600;
  line-height: 39px;
  padding-top: 25px; }

.main-head__line {
  position: relative;
  margin-top: 24px;
  padding-top: 9px;
  height: 8px;
  width: 48px;
  border-bottom: 1px solid #4D4C49;
  border-right: 1px solid #4D4C49;
  border-left: 1px solid #4D4C49; }

.main-head__line:before {
  content: "-";
  position: absolute;
  left: -5px;
  top: -11px; }

.main-head__line::after {
  content: "-";
  position: absolute;
  right: -5px;
  top: -11px; }

.search {
  display: flex;
  justify-content: flex-end; }

.search-form {
  position: relative;
  top: 55px;
  left: 20px; }

.search-form__input {
  width: 317px;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #c3b6b6;
  font-family: "Hind Siliguri", sans-serif; }

.search-form__input :focus {
  background-color: #ddd;
  outline: none; }

.search-form__button {
  position: relative;
  top: 6px;
  right: 36px;
  width: 20px;
  height: 20px;
  border: none;
  background: url(../img/icons/a-icon-search-2.svg) no-repeat 50% 50%;
  outline: none; }

footer {
  padding-top: 142px; }

.footer {
  padding-top: 24px;
  padding-bottom: 20px;
  background-color: #f1f1f1; }

.footer-block {
  display: flex;
  justify-content: space-between; }

.footer-logo {
  margin-left: 55px;
  margin-top: -4px; }

.footer-right {
  padding-right: 142px; }

.footer-right__text {
  height: 25px;
  width: 168px;
  color: #333333;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 25px; }

.block-icon {
  display: flex;
  padding-left: 140px; }

.icons:hover {
  fill: #0b51eb; }

.facebook {
  height: 23px;
  width: 14px; }

.instagram {
  height: 23px;
  width: 23px;
  padding-left: 26px; }

.dribble {
  height: 23px;
  width: 23px;
  padding-left: 24px; }

.first-post {
  padding-top: 74px;
  display: flex; }

.post-img {
  height: 379px;
  width: 560px;
  cursor: pointer; }

.post-img__play {
  position: absolute;
  height: 72px;
  width: 72px;
  top: 455px;
  left: 388px;
  cursor: pointer; }

.post-info {
  position: relative;
  width: 512px;
  height: 380px;
  background-color: #FCF6F6;
  border-radius: 5px; }

.post-info::before {
  content: "";
  position: absolute;
  top: 20%;
  bottom: -1%;
  right: -17%;
  left: 0%;
  border-radius: 5px;
  background-color: #FCF6F6; }

.post-info::after {
  content: "";
  position: absolute;
  top: 38px;
  left: 511px;
  width: 50px;
  height: 38px;
  border-radius: 3px 29px 15px 7px;
  box-shadow: -15px 15px 0 0 #FCF6F6; }

.post-icon {
  position: relative;
  left: 4px;
  width: 79px;
  height: 73px;
  background-color: #FCF6F6;
  border-radius: 5px;
  cursor: pointer; }

.post-icon__play {
  position: relative;
  top: 17px;
  left: 22px;
  height: 40px;
  width: 40px; }

.post-order {
  position: relative;
  top: 30px;
  left: 39px; }

.post-data {
  letter-spacing: 0;
  font-family: "Hind Siliguri", sans-serif;
  color: #4D4C49;
  position: relative;
  top: -27px;
  left: 106px;
  height: 28px;
  width: 96px;
  font-size: 17px;
  font-weight: 500;
  line-height: 28px; }

.name {
  position: relative; }

.result {
  position: relative;
  height: 25px;
  width: 305px; }

.result-post-date {
  position: relative;
  height: 25px;
  width: 500px;
  color: #818181;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 25px;
  cursor: pointer; }

.post-time {
  padding-left: 20px; }

.post-time::before {
  content: ".";
  position: absolute;
  left: 85px;
  top: -4px; }

.icon-comment {
  height: 13px;
  width: 14px;
  margin-left: 22px; }

.post-time::after {
  content: ".";
  position: absolute;
  left: 181px;
  top: -4px; }

.post-text {
  position: relative;
  top: 38px;
  left: 39px; }

.post-text__header {
  letter-spacing: 0;
  font-family: "Hind Siliguri", sans-serif;
  color: #4D4C49;
  height: 26px;
  width: 360px;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px; }

.post-text__body {
  letter-spacing: 0;
  font-family: "Hind Siliguri", sans-serif;
  color: #4D4C49;
  position: relative;
  top: 15px;
  left: 1px;
  height: 104px;
  width: 460px;
  font-size: 17px;
  line-height: 26px; }

.post-info__button {
  position: relative;
  top: 82px;
  left: 19px;
  box-sizing: border-box;
  height: 45px;
  width: 122px;
  border: 1px solid #4D4C49;
  background-color: #FCF6F6;
  border-radius: 5px;
  margin-left: 20px;
  outline: none;
  cursor: pointer; }

.post-info__button:hover {
  background-color: #393737;
  color: #FFFFFF; }

.button-value {
  letter-spacing: 0;
  font-family: "Hind Siliguri", sans-serif;
  color: #4D4C49;
  height: 25px;
  width: 69px;
  font-size: 15px;
  line-height: 25px; }

.second-post {
  padding-top: 47px;
  display: flex; }

.audio {
  position: relative;
  top: 9px;
  width: 222px;
  outline: none; }

.second-text {
  position: relative;
  top: 7px; }

.second-button {
  position: relative;
  top: 25px; }

.third-post {
  padding-top: 47px;
  display: flex; }

.last-order {
  position: relative;
  top: 27px;
  left: 26px; }

.last-data {
  position: relative;
  top: -29px;
  left: 93px; }

.last-info {
  position: relative;
  width: 1078px;
  height: 380px;
  background-color: #FCF6F6;
  border-radius: 5px; }

.last-info::before {
  content: "";
  position: absolute;
  width: 1160px;
  top: 20%;
  bottom: -1%;
  right: -17%;
  left: 0%;
  border-radius: 5px;
  background-color: #FCF6F6; }

.last-info::after {
  content: "";
  position: absolute;
  top: 37px;
  right: -50px;
  width: 50px;
  height: 38px;
  border-radius: 3px 29px 15px 7px;
  box-shadow: -15px 15px 0 0 #FCF6F6; }

.last-header {
  position: relative;
  top: -2px;
  left: -12px; }

.last-post {
  letter-spacing: 0;
  font-family: "Hind Siliguri", sans-serif;
  color: #4D4C49;
  position: relative;
  top: 12px;
  left: -12px;
  height: 104px;
  width: 1033px;
  font-size: 17px;
  line-height: 26px; }

.last-btn {
  position: relative;
  top: 80px;
  left: 7px; }

.button-more {
  text-align: center;
  position: relative;
  top: -21px;
  left: -28px; }

@media (min-width: 310px) and (max-width: 1435px) {
  .header {
    display: flex;
    justify-content: center; }

  .container {
    width: 800px; }

  .main {
    width: 1100px; }

  .search {
    padding-right: 97px; }

  .footer {
    width: 1440px; } }
