@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.container {
  width: 1440px; }

html {
  scroll-behavior: smooth; }

a {
  text-decoration: none;
  color: #4D4C49; }

li {
  list-style: none; }

.header {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px; }

.header-wrapper {
  max-width: 1160px;
  margin: 0 auto;
  padding-top: 25px; }

.header-logo {
  letter-spacing: 0;
  font-family: "Hind Siliguri", sans-serif;
  color: #4D4C49;
  height: 28px;
  width: 83px;
  font-size: 17px;
  font-weight: bold;
  line-height: 28px; }

.header-navigation {
  display: flex;
  justify-content: space-between; }

.header-navigation__list {
  display: flex;
  padding-right: 25px; }

.header-navigation__item {
  height: 25px;
  width: 38px;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 30px;
  margin-left: 40px; }

.portfolio-item {
  padding-left: 2px; }

.blog-item {
  padding-left: 18px; }

.pages-item {
  padding-left: 11px; }

.about-item {
  padding-left: 11px; }

.contact-item {
  padding-left: 13px; }

.header-ideas {
  letter-spacing: 0;
  font-family: "Hind Siliguri", sans-serif;
  color: #4D4C49;
  padding-top: 100px;
  height: 74px;
  width: 416px;
  font-size: 28px;
  font-weight: 600;
  line-height: 37px; }

.header-text {
  letter-spacing: 0;
  font-family: "Hind Siliguri", sans-serif;
  color: #4D4C49;
  padding-top: 98px;
  height: 78px;
  width: 660px;
  font-size: 17px;
  line-height: 26px; }

.header-buttons {
  padding-top: 98px; }

.button-explore {
  height: 45px;
  width: 100px;
  border-radius: 5px;
  border: 1px solid #4D4C49;
  cursor: pointer;
  outline: none; }

.button-explore:hover {
  background-color: #393737;
  color: #FFFFFF; }

.button-learn {
  box-sizing: border-box;
  height: 45px;
  width: 125px;
  border: 1px solid #4D4C49;
  border-radius: 5px;
  margin-left: 20px;
  cursor: pointer;
  outline: none; }

.button-learn:hover {
  background-color: #393737;
  color: #FFFFFF; }

.main {
  max-width: 1160px;
  margin: 0 auto;
  padding-top: 80px; }

.main-header {
  text-align: -webkit-center; }

.about-us {
  letter-spacing: 0;
  font-family: "Hind Siliguri", sans-serif;
  color: #4D4C49;
  height: 39px;
  width: 97px;
  font-size: 24px;
  font-weight: 600;
  line-height: 39px; }

.path {
  position: relative;
  padding-top: 10px;
  height: 8px;
  width: 91px;
  border-bottom: 1px solid #4D4C49;
  border-right: 1px solid #4D4C49;
  border-left: 1px solid #4D4C49; }

.path::before {
  content: "-";
  position: absolute;
  left: -5px;
  top: -11px; }

.path::after {
  content: "-";
  position: absolute;
  right: -5px;
  top: -11px; }

.main-header__text {
  letter-spacing: 0;
  font-family: "Hind Siliguri", sans-serif;
  color: #4D4C49;
  padding-top: 14px;
  height: 26px;
  width: 442px;
  font-size: 17px;
  line-height: 26px;
  text-align: center; }

.main-body {
  display: flex;
  padding-top: 75px; }

.folders {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer; }

.folders-first {
  width: 217px;
  height: 185px;
  background: linear-gradient(90deg, #d3d487 0%, #bad492 35%);
  border-radius: 5px;
  position: relative; }

.folders-first::before {
  content: "";
  position: absolute;
  top: 20%;
  bottom: 0%;
  right: -20%;
  left: 0%;
  border-radius: 5px;
  background: linear-gradient(90deg, #d3d487 0%, #bad492 35%); }

.folders-first::after {
  content: "";
  position: absolute;
  left: 217px;
  width: 43px;
  height: 38px;
  border-radius: 3px 29px 15px 7px;
  box-shadow: -15px 15px 0 0 #BCD491; }

.folders-icons {
  height: 65px;
  width: 65px;
  position: absolute;
  top: 45px;
  left: 97px; }

.folders-text {
  letter-spacing: 0;
  font-family: "Hind Siliguri", sans-serif;
  color: #4D4C49;
  position: absolute;
  bottom: 30px;
  left: 86px;
  height: 28px;
  width: 87px;
  font-size: 17px;
  line-height: 28px;
  text-align: center; }

.folders-second {
  margin-top: 18px;
  left: 42px;
  width: 217px;
  height: 185px;
  background: linear-gradient(90deg, #a7c2fd 0%, #a4c0fd 35%);
  border-radius: 5px;
  position: relative; }

.folders-second::before {
  content: "";
  position: absolute;
  top: 20%;
  bottom: 0%;
  right: 164px;
  left: -41px;
  border-radius: 5px;
  background: linear-gradient(90deg, #a7c2fd 0%, #a4c0fd 35%); }

.folders-second::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -43px;
  width: 43px;
  height: 38px;
  transform: scaleX(-1);
  border-radius: 3px 29px 15px 7px;
  box-shadow: -15px 15px 0 0 #A7C2FD; }

.folders-second__icon {
  height: 65px;
  width: 65px;
  position: absolute;
  top: 45px;
  left: 55px; }

.folders-second__text {
  letter-spacing: 0;
  font-family: "Hind Siliguri", sans-serif;
  color: #4D4C49;
  position: absolute;
  bottom: 30px;
  left: 44px;
  height: 28px;
  width: 87px;
  font-size: 17px;
  line-height: 28px;
  text-align: center; }

.folders-third {
  margin-top: 20px;
  width: 217px;
  height: 185px;
  background: linear-gradient(90deg, #ff8181 0%, #ffa0a0 35%);
  border-radius: 5px;
  position: relative; }

.folders-third::before {
  content: "";
  position: absolute;
  top: 20%;
  bottom: 0%;
  right: -20%;
  left: 0%;
  border-radius: 5px;
  background: linear-gradient(90deg, #ff8181 0%, #ffa0a0 35%); }

.folders-third::after {
  content: "";
  position: absolute;
  left: 217px;
  width: 43px;
  height: 38px;
  border-radius: 3px 29px 15px 7px;
  box-shadow: -15px 15px 0 0 #FFA2A2; }

.table-picture {
  position: relative;
  height: 592px;
  width: 860px;
  cursor: pointer; }

.table-picture__play {
  position: absolute;
  height: 72px;
  width: 72px;
  top: 258px;
  left: 396px; }

.main-posts {
  text-align: -webkit-center;
  padding-top: 78px; }

.main-posts__header {
  letter-spacing: 0;
  font-family: "Hind Siliguri", sans-serif;
  color: #4D4C49;
  height: 39px;
  width: 129px;
  font-size: 24px;
  font-weight: 600;
  line-height: 39px; }

.main-posts__line {
  position: relative;
  padding-top: 10px;
  height: 8px;
  width: 122px;
  border-bottom: 1px solid #4D4949;
  border-right: 1px solid #4D4949;
  border-left: 1px solid #4D4949; }

.main-posts__line::before {
  content: "-";
  position: absolute;
  left: -5px;
  top: -11px; }

.main-posts__line::after {
  content: "-";
  position: absolute;
  right: -5px;
  top: -11px; }

.main-posts__text {
  letter-spacing: 0;
  font-family: "Hind Siliguri", sans-serif;
  color: #4D4C49;
  padding-top: 14px;
  height: 26px;
  width: 442px;
  font-size: 17px;
  line-height: 26px;
  text-align: center; }

.division {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 100px; }

.post-img {
  height: 244px;
  width: 360px;
  cursor: pointer; }

.post-img:hover {
  opacity: 0.9;
  transform: scale(1.05); }

.post-header {
  letter-spacing: 0;
  font-family: "Hind Siliguri", sans-serif;
  color: #4D4C49;
  height: 32px;
  width: 360px;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  padding-top: 15px; }

.post-text {
  letter-spacing: 0;
  font-family: "Hind Siliguri", sans-serif;
  color: #4D4C49;
  height: 96px;
  width: 360px;
  font-size: 15px;
  line-height: 24px;
  padding-top: 22px; }

.post-date {
  position: relative;
  padding-top: 42px;
  height: 25px;
  color: #818181;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 25px; }

.post-time {
  padding-left: 20px; }

.post-time::before {
  content: ".";
  position: absolute;
  left: 85px;
  top: 37px; }

.icon-comment {
  height: 13px;
  width: 14px;
  margin-left: 22px; }

.post-time::after {
  content: ".";
  position: absolute;
  left: 181px;
  top: 37px; }

.main-portfolio {
  text-align: -webkit-center;
  padding-top: 105px; }

.main-portfolio__header {
  letter-spacing: 0;
  font-family: "Hind Siliguri", sans-serif;
  color: #4D4C49;
  height: 39px;
  width: 164px;
  font-size: 24px;
  font-weight: 600;
  line-height: 39px; }

.main-portfolio__line {
  position: relative;
  padding-top: 9px;
  height: 8px;
  width: 155px;
  border-bottom: 1px solid #4D4C49;
  border-right: 1px solid #4D4C49;
  border-left: 1px solid #4D4C49; }

.main-portfolio__line::before {
  content: "-";
  position: absolute;
  left: -5px;
  top: -11px; }

.main-portfolio__line::after {
  content: "-";
  position: absolute;
  right: -5px;
  top: -11px; }

.main-portfolio__text {
  letter-spacing: 0;
  font-family: "Hind Siliguri", sans-serif;
  color: #4D4C49;
  padding-top: 15px;
  height: 52px;
  width: 442px;
  font-size: 17px;
  line-height: 26px;
  text-align: center; }

.portfolio-info {
  padding-top: 75px;
  display: flex;
  justify-content: space-between; }

.portfolio-body {
  position: relative;
  cursor: pointer;
  transition: .5s; }
  .portfolio-body:hover .portfolio-icon {
    opacity: 1; }

.portfolio-header {
  position: absolute;
  text-transform: uppercase;
  top: 100px;
  left: 65px;
  height: 32px;
  width: 230px;
  color: #FFFFFF;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 32px;
  text-align: center; }

.portfolio-text {
  position: absolute;
  top: 126px;
  left: 100px;
  height: 25px;
  width: 160px;
  color: #FFFFFF;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 25px;
  text-align: center; }

.portfolio-icon {
  position: absolute;
  top: 184px;
  right: 1px;
  height: 60px;
  width: 101px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0; }

.icon-attach {
  position: absolute;
  top: 20px;
  left: 22px;
  height: 17px;
  width: 17px; }

.icon-search {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 17px;
  width: 17px; }

.portfolio-buttons {
  display: flex;
  justify-content: space-around;
  padding-top: 35px; }

.button-prev {
  box-sizing: border-box;
  height: 45px;
  width: 45px;
  border: 1px solid #4D4C49;
  border-radius: 5px;
  background-color: #FFFFFF;
  padding-top: 1px;
  margin-left: 268px; }

.button-next {
  box-sizing: border-box;
  height: 45px;
  width: 45px;
  border: 1px solid #4D4C49;
  border-radius: 5px;
  background-color: #FFFFFF;
  margin-right: 267px; }

.button-prev:hover,
.button-next:hover {
  cursor: pointer; }

.button-prev__arrow {
  transform: rotate(90deg);
  height: 11px;
  width: 18px; }

.button-next__arrow {
  transform: rotate(-90deg);
  height: 11px;
  width: 18px; }

.button-main__all {
  box-sizing: border-box;
  cursor: pointer;
  height: 45px;
  width: 136px;
  background-color: #fff;
  border: 1px solid #4D4C49;
  border-radius: 5px; }

.button-main__all:hover {
  background-color: #393737;
  color: #FFFFFF; }

.button-main__text {
  letter-spacing: 0;
  font-family: "Hind Siliguri", sans-serif;
  color: #4D4C49;
  height: 25px;
  width: 84px;
  font-size: 15px;
  line-height: 25px; }

.button-main {
  display: flex;
  justify-content: center;
  padding-top: 40px; }

.testimonials {
  background-image: url("../img/testimonial.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 527px;
  margin-top: 60px; }

.container-wrapper {
  max-width: 1160px; }

.testimonials-info {
  position: relative;
  left: 140px;
  text-align: -webkit-center;
  padding-top: 55px; }

.testimonials-info__header {
  letter-spacing: 0;
  font-family: "Hind Siliguri", sans-serif;
  color: #4D4C49;
  height: 39px;
  width: 164px;
  font-size: 24px;
  font-weight: 600;
  line-height: 39px;
  padding-top: 25px; }

.testimonials-info__line {
  position: relative;
  margin-top: 24px;
  padding-top: 9px;
  height: 8px;
  width: 128px;
  border-bottom: 1px solid #4D4C49;
  border-right: 1px solid #4D4C49;
  border-left: 1px solid #4D4C49; }

.testimonials-info__line:before {
  content: "-";
  position: absolute;
  left: -5px;
  top: -11px; }

.testimonials-info__line::after {
  content: "-";
  position: absolute;
  right: -5px;
  top: -11px; }

.testimonials-answer {
  position: relative;
  left: 140px;
  display: flex;
  justify-content: center;
  padding-top: 10px; }

.testimonials-body {
  position: relative;
  height: 265px;
  width: 280px;
  border-radius: 5px 0 0 5px;
  background-color: #4D4C49; }

.testimonials-text::before {
  content: "“";
  position: absolute;
  top: 31px;
  left: 32px;
  height: 45px;
  width: 13px;
  color: #FFFFFF;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 45px; }

.testimonials-text {
  padding-top: 53px;
  padding-left: 47px;
  height: 104px;
  width: 230px;
  color: #FFFFFF;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 26px; }

.testimonials-name {
  position: relative;
  top: 90px;
  left: 46px;
  height: 25px;
  width: 73px;
  color: #FFFFFF;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 25px; }

.testimonials-role {
  position: relative;
  top: 90px;
  left: 47px;
  height: 25px;
  width: 110px;
  color: #FFFFFF;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 25px; }

.testimonials-button__prev {
  position: relative;
  top: 167px;
  left: 95px;
  box-sizing: border-box;
  height: 45px;
  width: 45px;
  border: 1px solid #4D4C49;
  border-radius: 5px;
  background-color: #FFFFFF;
  padding-top: 1px;
  margin-left: 268px; }

.testimonials-button__next {
  position: relative;
  top: 167px;
  left: 712px;
  box-sizing: border-box;
  height: 45px;
  width: 45px;
  border: 1px solid #4D4C49;
  border-radius: 5px;
  background-color: #FFFFFF;
  margin-right: 267px; }

.testimonials-button__prev:hover,
.testimonials-button__next:hover {
  cursor: pointer; }

.user-testimonials {
  border-radius: 0 5px 5px 0; }

.main-contact {
  text-align: -webkit-center;
  padding-top: 83px; }

.main-contact__header {
  letter-spacing: 0;
  font-family: "Hind Siliguri", sans-serif;
  color: #4D4C49;
  height: 39px;
  width: 164px;
  font-size: 24px;
  font-weight: 600;
  line-height: 39px; }

.main-contact__line {
  position: relative;
  padding-top: 9px;
  height: 8px;
  width: 108px;
  border-bottom: 1px solid #4D4C49;
  border-right: 1px solid #4D4C49;
  border-left: 1px solid #4D4C49; }

.main-contact__line::before {
  content: "-";
  position: absolute;
  left: -5px;
  top: -11px; }

.main-contact__line::after {
  content: "-";
  position: absolute;
  right: -5px;
  top: -11px; }

.main-contact__text {
  letter-spacing: 0;
  font-family: "Hind Siliguri", sans-serif;
  color: #4D4C49;
  padding-top: 15px;
  height: 52px;
  width: 442px;
  font-size: 17px;
  line-height: 26px;
  text-align: center; }

.contact-info {
  display: flex;
  padding-top: 86px; }

.contact-info__block {
  padding-top: 12px; }

.block-shadows {
  padding-bottom: 12px; }

.block-icon {
  display: flex;
  padding-left: 140px; }

.icons:hover {
  fill: #0b51eb; }

.facebook {
  height: 23px;
  width: 14px; }

.instagram {
  height: 23px;
  width: 23px;
  padding-left: 26px; }

.dribble {
  height: 23px;
  width: 23px;
  padding-left: 24px; }

.block-propose {
  width: 2440px;
  height: 611px;
  background: #f1f1f1; }

.propose-header {
  letter-spacing: 0;
  font-family: "Hind Siliguri", sans-serif;
  color: #4D4C49;
  padding-top: 106px;
  padding-left: 140px;
  height: 39px;
  font-size: 24px;
  font-weight: 600;
  line-height: 39px; }

.block-list {
  padding-top: 60px;
  padding-left: 165px; }

.block-list__header {
  letter-spacing: 0;
  font-family: "Hind Siliguri", sans-serif;
  color: #4D4C49;
  height: 26px;
  width: 360px;
  font-size: 15px;
  font-weight: bold;
  line-height: 26px; }

.block-list__text {
  letter-spacing: 0;
  font-family: "Hind Siliguri", sans-serif;
  color: #4D4C49;
  padding-top: 5px;
  padding-left: 11px;
  height: 78px;
  width: 340px;
  font-size: 15px;
  line-height: 26px; }

.second-header {
  padding-top: 13px; }

.second-text {
  padding-top: 18px; }

.third-header {
  padding-top: 29px; }

.third-text {
  padding-top: 30px; }

.oval {
  box-sizing: border-box;
  height: 13px;
  width: 13px;
  border: 5px solid #fff;
  background-color: #4D4C49;
  border-radius: 14px;
  outline: none;
  box-shadow: 1px 2px 7px 3px #4D4C49; }

.first-oval {
  position: relative;
  top: 19px;
  left: -23px; }

.first-oval::after {
  content: '';
  position: absolute;
  top: 13px;
  left: 0;
  width: 42px;
  border-left: 2px solid #DDDDDD;
  height: 116px; }

.second-oval {
  position: relative;
  top: 33px;
  left: -23px; }

.second-oval::after {
  content: '';
  position: absolute;
  top: 13px;
  left: 0;
  width: 42px;
  border-left: 2px solid #DDDDDD;
  height: 116px; }

.third-oval {
  position: relative;
  top: 48px;
  left: -23px; }

.info-form {
  display: flex;
  padding-top: 10px;
  padding-left: 21px;
  background-color: #F8F8F8; }

.info-form__icon {
  height: 45px;
  width: 45px; }

.info-form__text {
  letter-spacing: 0;
  font-family: "Hind Siliguri", sans-serif;
  color: #4D4C49;
  padding-left: 15px;
  height: 52px;
  width: 615px;
  font-size: 17px;
  line-height: 21px; }

.contacts {
  position: relative;
  border-bottom: 1px solid #ecedee;
  box-shadow: -8px -20px 14px -22px rgba(5, 6, 6, 0.37) inset; }

.contact-form {
  position: absolute;
  top: -673px;
  left: 538px;
  box-shadow: 0 0 15px 0 rgba(34, 60, 80, 0.29); }

.form {
  padding-top: 37px;
  padding-left: 32px; }

.form-container {
  display: flex;
  flex-direction: column; }

.label-text {
  letter-spacing: 0;
  font-family: "Hind Siliguri", sans-serif;
  color: #4D4C49;
  height: 28px;
  width: 79px;
  font-size: 17px;
  line-height: 28px; }

input[type=text], input[type=password] {
  width: 317px;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #c3b6b6; }

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none; }

.email {
  padding-top: 31px; }

.email-input {
  margin-top: 33px; }

.password {
  padding-top: 25px; }

.password-input {
  margin-top: 6px; }

.show-password {
  display: flex;
  position: relative;
  top: 1px;
  right: -269px; }

.show-password__text {
  letter-spacing: 0;
  font-family: "Hind Siliguri", sans-serif;
  color: #4D4C49;
  height: 23px;
  width: 33px;
  font-size: 14px;
  line-height: 23px;
  padding-left: 3px; }

.submit {
  height: 45px;
  width: 144px;
  margin-top: 28px;
  padding-top: 4px;
  border-radius: 5px;
  background-color: #4D4C49; }

.submit:hover {
  background-color: #393737; }

.submit-text {
  height: 25px;
  width: 92px;
  color: #FFFFFF;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 25px; }

.form-email {
  letter-spacing: 0;
  font-family: "Hind Siliguri", sans-serif;
  color: #4D4C49;
  height: 56px;
  width: 320px;
  padding-top: 43px;
  font-size: 17px;
  line-height: 28px; }

.bold {
  font-weight: bold;
  text-decoration: underline; }

.info-map__form {
  display: flex;
  background-color: #ffffff;
  border-radius: 6px;
  height: 562px;
  width: 763px; }

.map {
  height: 562px;
  width: 408px;
  cursor: pointer;
  padding-left: 34px; }

.footer {
  padding-top: 24px;
  padding-bottom: 20px;
  background-color: #f1f1f1; }

.footer-block {
  display: flex;
  justify-content: space-between; }

.footer-logo {
  margin-left: 55px;
  margin-top: -4px; }

.footer-right {
  padding-right: 142px; }

.footer-right__text {
  height: 25px;
  width: 168px;
  color: #333333;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 25px; }

@media (min-width: 310px) and (max-width: 1435px) {
  body {
    width: 1440px; }

  .header-wrapper {
    max-width: 900px;
    margin: 0 70px; }

  .header-navigation {
    display: flex;
    justify-content: center; }

  .header-ideas,
  .header-text,
  .header-buttons {
    margin: 0 158px; }

  .folders {
    display: flex;
    flex-direction: column; }

  .table-picture {
    position: relative;
    left: 50px; }

  .table-img {
    width: 750px;
    height: 600px; }

  .testimonials-info {
    position: relative;
    right: 150px; }

  .testimonials-button__prev {
    position: relative;
    left: -50px; }

  .testimonials-button__next {
    position: relative;
    left: 550px; }

  .testimonials-body {
    position: relative;
    left: -150px; }

  .division {
    display: flex;
    justify-content: start; }

  .post-img {
    height: 270px;
    width: 330px; }

  #portfolio {
    margin-left: -120px; }

  .portfolio-info {
    margin: 1px 125px; }

  .user-img {
    position: relative;
    left: -150px; }

  .main-contact {
    position: relative;
    left: -150px; }

  .main {
    margin: 1px 5px; } }
