@mixin main-style {
  letter-spacing: 0;
  font-family: $font-family;
  color: $textColor;
}

.main {
  max-width: 1161px;
  margin: 0 auto;
  padding-top: 80px;
}

.main-header {
  text-align: -webkit-center;
}

.about-us {
  @include main-style;
  height: 39px;
  width: 97px;
  font-size: 24px;
  font-weight: 600;
  line-height: 39px;
}

.path {
  position: relative;
  padding-top: 10px;
  height: 8px;
  width: 91px;
  border-bottom: 1px solid $textColor;
  border-right: 1px solid $textColor;
  border-left: 1px solid $textColor;
}

.path::before {
  content: "-";
  position: absolute;
  left: -5px;
  top: -11px;
}

.path::after {
  content: "-";
  position: absolute;
  right: -5px;
  top: -11px;
}

.main-header__text {
  @include main-style;
  padding-top: 14px;
  height: 26px;
  width: 442px;
  font-size: 17px;
  line-height: 26px;
  text-align: center;
}

.main-body {
  display: flex;
  padding-top: 75px;
}

.folders {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

.folders-first {
  width: 217px;
  height: 185px;
  background: $foldersFirstColor;
  border-radius: 5px;
  position: relative;
}


.folders-first::before {
  content: "";
  position: absolute;
  top: 20%;
  bottom: 0%;
  right: -20%;
  left: 0%;
  border-radius: 5px;
  background: $foldersFirstColor;

}

.folders-first::after {
  content: "";
  position: absolute;
  left: 217px;
  width: 43px;
  height: 38px;
  border-radius: 3px 29px 15px 7px;
  box-shadow: -15px 15px 0 0 #BCD491;
}

.folders-icons {
  height: 65px;
  width: 65px;
  position: absolute;
  top: 45px;
  left: 97px;
}

.folders-text {
  @include main-style;
  position: absolute;
  bottom: 30px;
  left: 86px;
  height: 28px;
  width: 87px;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
}

.folders-second {
  margin-top: 18px;
  left: 42px;
  width: 217px;
  height: 185px;
  background: $foldersSecondColor;
  border-radius: 5px;
  position: relative;
}


.folders-second::before {
  content: "";
  position: absolute;
  top: 20%;
  bottom: 0%;
  right: 164px;
  left: -41px;
  border-radius: 5px;
  background: $foldersSecondColor;
}

.folders-second::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -43px;
  width: 43px;
  height: 38px;
  transform: scaleX(-1);
  border-radius: 3px 29px 15px 7px;
  box-shadow: -15px 15px 0 0 #A7C2FD;
}

.folders-second__icon {
  height: 65px;
  width: 65px;
  position: absolute;
  top: 45px;
  left: 55px;
}

.folders-second__text {
  @include main-style;
  position: absolute;
  bottom: 30px;
  left: 44px;
  height: 28px;
  width: 87px;
  font-size: 17px;
  line-height: 28px;
  text-align: center;

}

.folders-third {
  margin-top: 20px;
  width: 217px;
  height: 185px;
  background: $foldersThirdColor;
  border-radius: 5px;
  position: relative;
}


.folders-third::before {
  content: "";
  position: absolute;
  top: 20%;
  bottom: 0%;
  right: -20%;
  left: 0%;
  border-radius: 5px;
  background: $foldersThirdColor;

}

.folders-third::after {
  content: "";
  position: absolute;
  left: 217px;
  width: 43px;
  height: 38px;
  border-radius: 3px 29px 15px 7px;
  box-shadow: -15px 15px 0 0 #FFA2A2;
}

.table-picture {
  position: relative;
  height: 592px;
  width: 860px;
  cursor: pointer;
}

.table-picture__play {
  position: absolute;
  height: 72px;
  width: 72px;
  top: 258px;
  left: 396px;
}
