
.main {
  max-width: 1160px;
  margin: 0 auto;

}


.main-head {
  text-align: -webkit-center;
  padding-top: 46px;
}

.main-head__header {
  @include main-style;
  height: 39px;
  width: 164px;
  font-size: 24px;
  font-weight: 600;
  line-height: 39px;
  padding-top: 25px;

}

.main-head__line {
  position: relative;
  margin-top: 24px;
  padding-top: 9px;
  height: 8px;
  width: 48px;
  border-bottom: 1px solid $textColor;
  border-right: 1px solid $textColor;
  border-left: 1px solid $textColor;
}

.main-head__line:before {
  content: "-";
  position: absolute;
  left: -5px;
  top: -11px;
}

.main-head__line::after {
  content: "-";
  position: absolute;
  right: -5px;
  top: -11px;
}

.search {
  display: flex;
  justify-content: flex-end;
}

.search-form {
  position: relative;
  top: 55px;
  left: 20px;
}

.search-form__input {
  width: 317px;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #c3b6b6;
  font-family: $font-family;
}


.search-form__input :focus {
  background-color: #ddd;
  outline: none;
}

.search-form__button {
  position: relative;
  top: 6px;
  right: 36px;
  width: 20px;
  height: 20px;
  border: none;
  background: url(../img/icons/a-icon-search-2.svg) no-repeat 50% 50%;
  outline: none;
}
