
@mixin main-style {
  letter-spacing: 0;
  font-family: $font-family;
  color:$textColor;
}

.header-wrapper {
  max-width: 1160px;
  margin: 0 auto;
  padding-top: 25px;
}

.header-logo {
  @include main-style;
  height: 28px;
  width: 83px;
  font-size: 17px;
  font-weight: bold;
  line-height: 28px;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
}

.header-navigation__list {
  display: flex;
  padding-right: 28px;

}

.header-navigation__item {
  height: 25px;
  width: 38px;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 30px;
  margin-left: 40px;
}
.portfolio-item{
  padding-left: 2px;
}
.blog-item {
  position: relative;
  padding-left: 18px;

}
.blog-item::after {
  content: '';
  position: absolute;
  top:22px;
  width: 30px;
  border-top:1px solid $textColor;
}

.pages-item{
  padding-left: 11px;
}
.about-item{
  padding-left: 11px;
}
.contact-item{
  padding-left: 13px;
}