@media (min-width: 310px) and (max-width: 1435px) {
  .header {
    display: flex;
    justify-content: center;
  }
  .container {
    width: 800px;
  }
  .main {
    width: 1100px;
  }
  .search {
    padding-right: 97px;
  }
  .footer {
    width: 1440px;
  }
}