

@mixin main-style {
  letter-spacing: 0;
  font-family: $font-family;
  color: $textColor;
}

.first-post {
  padding-top: 74px;
  display: flex;
}

.post-img {
  height: 379px;
  width: 560px;
  cursor: pointer;
}

.post-img__play {
  position: absolute;
  height: 72px;
  width: 72px;
  top: 455px;
  left: 388px;
  cursor: pointer;
}

.post-info {
  position: relative;
  width: 512px;
  height: 380px;
  background-color: #FCF6F6;
  border-radius: 5px;
}

.post-info::before {
  content: "";
  position: absolute;
  top: 20%;
  bottom: -1%;
  right: -17%;
  left: 0%;
  border-radius: 5px;
  background-color: #FCF6F6;
}

.post-info::after {
  content: "";
  position: absolute;
  top: 38px;
  left: 511px;
  width: 50px;
  height: 38px;
  border-radius: 3px 29px 15px 7px;
  box-shadow: -15px 15px 0 0 #FCF6F6;
}

.post-icon {
  position: relative;
  left: 4px;
  width: 79px;
  height: 73px;
  background-color: #FCF6F6;
  border-radius: 5px;
  cursor: pointer;
}

.post-icon__play {
  position: relative;
  top: 17px;
  left: 22px;
  height: 40px;
  width: 40px;
}

.post-order {
  position: relative;
  top: 30px;
  left: 39px;
}

.post-data {
  @include main-style;
  position: relative;
  top: -27px;
  left: 106px;
  height: 28px;
  width: 96px;
  font-size: 17px;
  font-weight: 500;
  line-height: 28px;
}

.name {
  position: relative;

}

.result {
  position: relative;
  height: 25px;
  width: 305px;
}

.result-post-date {
  position: relative;
  height: 25px;
  width: 500px;
  color: #818181;
  font-family: $font-family;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 25px;
  cursor: pointer;
}

.post-time {
  padding-left: 20px;
}

.post-time::before {
  content: ".";
  position: absolute;
  left: 85px;
  top: -4px;
}

.icon-comment {
  height: 13px;
  width: 14px;
  margin-left: 22px;
}

.post-time::after {
  content: ".";
  position: absolute;
  left: 181px;
  top: -4px;
}

.post-text {
  position: relative;
  top: 38px;
  left: 39px;
}

.post-text__header {
  @include main-style;
  height: 26px;
  width: 360px;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
}


.post-text__body {
  @include main-style;
  position: relative;
  top: 15px;
  left: 1px;
  height: 104px;
  width: 460px;
  font-size: 17px;
  line-height: 26px;
}

.post-info__button {
  position: relative;
  top: 82px;
  left: 19px;
  box-sizing: border-box;
  height: 45px;
  width: 122px;
  border: 1px solid #4D4C49;
  background-color: #FCF6F6;
  border-radius: 5px;
  margin-left: 20px;
  outline: none;
  cursor: pointer;
}

.post-info__button:hover {
  background-color: #393737;
  color: #FFFFFF;
}

.button-value {
  @include main-style;
  height: 25px;
  width: 69px;
  font-size: 15px;
  line-height: 25px;
}

.second-post {
  padding-top: 47px;
  display: flex;
}

.audio {
  position: relative;
  top: 9px;
  width: 222px;
  outline: none;
}

.second-text {
  position: relative;
  top: 7px;
}

.second-button {
  position: relative;
  top: 25px;
}

.third-post {
  padding-top: 47px;
  display: flex;
}

.last-order {
  position: relative;
  top: 27px;
  left: 26px;
}

.last-data {
  position: relative;
  top: -29px;
  left: 93px;
}

.last-info {
  position: relative;
  width: 1078px;
  height: 380px;
  background-color: #FCF6F6;
  border-radius: 5px;
}


.last-info::before {
  content: "";
  position: absolute;
  width: 1160px;
  top: 20%;
  bottom: -1%;
  right: -17%;
  left: 0%;
  border-radius: 5px;
  background-color: #FCF6F6;
}

.last-info::after {
  content: "";
  position: absolute;
  top: 37px;
  right: -50px;
  width: 50px;
  height: 38px;
  border-radius: 3px 29px 15px 7px;
  box-shadow: -15px 15px 0 0 #FCF6F6;
}

.last-header {
  position: relative;
  top: -2px;
  left: -12px;
}

.last-post {
  @include main-style;
  position: relative;
  top: 12px;
  left: -12px;
  height: 104px;
  width: 1033px;
  font-size: 17px;
  line-height: 26px;
}

.last-btn {
  position: relative;
  top: 80px;
  left: 7px;
}

.button-more {
  text-align: center;
  position: relative;
  top: -21px;
  left: -28px;
}

