@mixin main-style {
  letter-spacing: 0;
  font-family: $font-family;
  color: $textColor;
}

.main-contact {
  text-align: -webkit-center;
  padding-top: 83px;
}

.main-contact__header {
  @include main-style;
  height: 39px;
  width: 164px;
  font-size: 24px;
  font-weight: 600;
  line-height: 39px;
}

.main-contact__line {
  position: relative;
  padding-top: 9px;
  height: 8px;
  width: 108px;
  border-bottom: 1px solid $textColor;
  border-right: 1px solid $textColor;
  border-left: 1px solid $textColor;
}

.main-contact__line::before {
  content: "-";
  position: absolute;
  left: -5px;
  top: -11px;
}

.main-contact__line::after {
  content: "-";
  position: absolute;
  right: -5px;
  top: -11px;
}

.main-contact__text {
  @include main-style;
  padding-top: 15px;
  height: 52px;
  width: 442px;
  font-size: 17px;
  line-height: 26px;
  text-align: center;
}


.contact-info {
  display: flex;
  padding-top: 86px;
}

.contact-info__block {
  padding-top: 12px;
}

.block-shadows {
  padding-bottom: 12px;
}

.block-icon {
  display: flex;
  padding-left: 140px;
}

.icons:hover {
  fill: #0b51eb;
}

.facebook {
  height: 23px;
  width: 14px;
}

.instagram {
  height: 23px;
  width: 23px;
  padding-left: 26px;
}

.dribble {
  height: 23px;
  width: 23px;
  padding-left: 24px;
}

.block-propose {
  width: 2440px;
  height: 611px;
  background: #f1f1f1;
}

.propose-header {
  @include main-style;
  padding-top: 106px;
  padding-left: 140px;
  height: 39px;
  font-size: 24px;
  font-weight: 600;
  line-height: 39px;
}

.block-list {
  padding-top: 60px;
  padding-left: 165px;
}

.block-list__header {
  @include main-style;
  height: 26px;
  width: 360px;
  font-size: 15px;
  font-weight: bold;
  line-height: 26px;
}

.block-list__text {
  @include main-style;
  padding-top: 5px;
  padding-left: 11px;
  height: 78px;
  width: 340px;
  font-size: 15px;
  line-height: 26px;
}

.second-header {
  padding-top: 13px;
}

.second-text {
  padding-top: 18px;
}

.third-header {
  padding-top: 29px;
}

.third-text {
  padding-top: 30px;
}

.oval {
  box-sizing: border-box;
  height: 13px;
  width: 13px;
  border: 5px solid #fff;
  background-color: $textColor;
  border-radius: 14px;
  outline: none;
  box-shadow: 1px 2px 7px 3px $textColor;
}

.first-oval {
  position: relative;
  top: 19px;
  left: -23px;
}

.first-oval::after {
  content: '';
  position: absolute;
  top: 13px;
  left: 0;
  width: 42px;
  border-left: 2px solid #DDDDDD;
  height: 116px;
}

.second-oval {
  position: relative;
  top: 33px;
  left: -23px;
}

.second-oval::after {
  content: '';
  position: absolute;
  top: 13px;
  left: 0;
  width: 42px;
  border-left: 2px solid #DDDDDD;
  height: 116px;
}

.third-oval {
  position: relative;
  top: 48px;
  left: -23px;
}
