
.footer {
  padding-top: 24px;
  padding-bottom: 20px;
  background-color: #f1f1f1;
}
.footer-block {
  display: flex;
  justify-content: space-between;
}
.footer-logo {
  margin-left: 55px;
  margin-top: -4px;
}

.footer-right {
  padding-right: 142px;
}

.footer-right__text {
  height: 25px;
  width: 168px;
  color: #333333;
  font-family: $font-family;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 25px;
}