@mixin main-style {
  letter-spacing: 0;
  font-family: $font-family;
  color: $textColor;
}

.info-form {
  display: flex;
  padding-top: 10px;
  padding-left: 21px;
  background-color: #F8F8F8;
}

.info-form__icon {
  height: 45px;
  width: 45px;
}

.info-form__text {
  @include main-style;
  padding-left: 15px;
  height: 52px;
  width: 615px;
  font-size: 17px;
  line-height: 21px;
}

.contacts {
  position: relative;
  border-bottom: 1px solid #ecedee;
  box-shadow: -8px -20px 14px -22px rgba(5, 6, 6, 0.37) inset;
}

.contact-form {
  position: absolute;
  top: -673px;
  left: 538px;
  box-shadow: 0 0 15px 0 rgba(34, 60, 80, 0.29);

}

.form {
  padding-top: 37px;
  padding-left: 32px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.label-text {
  @include main-style;
  height: 28px;
  width: 79px;
  font-size: 17px;
  line-height: 28px;
}

input[type=text], input[type=password] {
  width: 317px;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #c3b6b6;

}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.email {
  padding-top: 31px;
}

.email-input {
  margin-top: 33px;
}

.password {
  padding-top: 25px;
}

.password-input {
  margin-top: 6px;
}

.show-password {
  display: flex;
  position: relative;
  top: 1px;
  right: -269px;
}


.show-password__text {
  @include main-style;
  height: 23px;
  width: 33px;
  font-size: 14px;
  line-height: 23px;
  padding-left: 3px;
}

.submit {
  height: 45px;
  width: 144px;
  margin-top: 28px;
  padding-top: 4px;
  border-radius: 5px;
  background-color: $textColor;
}

.submit:hover {
  background-color: #393737;
}

.submit-text {
  height: 25px;
  width: 92px;
  color: #FFFFFF;
  font-family: $font-family;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 25px;
}

.form-email {
  @include main-style;
  height: 56px;
  width: 320px;
  padding-top: 43px;
  font-size: 17px;
  line-height: 28px;
}

.bold {
  font-weight: bold;
  text-decoration: underline;
}

.info-map__form {
  display: flex;
  background-color: #ffffff;
  border-radius: 6px;
  height: 562px;
  width: 763px;
}

.map {
  height: 562px;
  width: 408px;
  cursor: pointer;
  padding-left: 34px;
}

