@mixin main-style {
  letter-spacing: 0;
  font-family: $font-family;
  color: $textColor;
}

.header {
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.header-wrapper {
  max-width: 1160px;
  margin: 0 auto;
  padding-top: 25px;
}

.header-logo {
  @include main-style;
  height: 28px;
  width: 83px;
  font-size: 17px;
  font-weight: bold;
  line-height: 28px;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
}

.header-navigation__list {
  display: flex;
  padding-right: 25px;

}

.header-navigation__item {
  height: 25px;
  width: 38px;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 30px;
  margin-left: 40px;
}

.portfolio-item {
  padding-left: 2px;
}

.blog-item {
  padding-left: 18px;
}

.pages-item {
  padding-left: 11px;
}

.about-item {
  padding-left: 11px;
}

.contact-item {
  padding-left: 13px;
}

.header-ideas {
  @include main-style;
  padding-top: 100px;
  height: 74px;
  width: 416px;
  font-size: 28px;
  font-weight: 600;
  line-height: 37px;
}

.header-text {
  @include main-style;
  padding-top: 98px;
  height: 78px;
  width: 660px;
  font-size: 17px;
  line-height: 26px;
}

.header-buttons {
  padding-top: 98px;
}

.button-explore {
  height: 45px;
  width: 100px;
  border-radius: 5px;
  border: 1px solid $textColor;
  cursor: pointer;
  outline: none;
}

.button-explore:hover {
  background-color: #393737;
  color: #FFFFFF;
}

.button-learn {
  box-sizing: border-box;
  height: 45px;
  width: 125px;
  border: 1px solid $textColor;
  border-radius: 5px;
  margin-left: 20px;
  cursor: pointer;
  outline: none;
}

.button-learn:hover {
  background-color: #393737;
  color: #FFFFFF;
}

