@media (min-width: 310px) and (max-width: 1435px) {

  body{
    width: 1440px;
  }
  .header-wrapper {
    max-width: 900px;
    margin: 0 70px;

  }
  .header-navigation {
    display: flex;
    justify-content: center;
  }
  .header-ideas,
  .header-text,
  .header-buttons {
    margin: 0 158px;
  }
  .folders {
    display: flex;
    flex-direction: column;
  }
  .table-picture {
    position: relative;
    left: 50px;
  }
  .table-img {
    width: 750px;
    height: 600px;
  }
  .testimonials-info {
    position: relative;
    right: 150px;
  }
  .testimonials-button__prev {
    position: relative;
    left: -50px;
  }
  .testimonials-button__next {
    position: relative;
    left: 550px;
  }
  .testimonials-body {
    position: relative;
    left: -150px;
  }
  .division {
    display: flex;
    justify-content: start;
  }

  .post-img {
    height: 270px;
    width: 330px;
  }
  #portfolio {
    margin-left: -120px;
  }

  .portfolio-info {
    margin: 1px 125px;
  }

  .user-img {
    position: relative;
    left: -150px;
  }
  .main-contact {
    position: relative;
    left: -150px;
  }
  .main {
    margin: 1px 5px;
  }

}
