@mixin main-style {
  letter-spacing: 0;
  font-family: $font-family;
  color: $textColor;
}

.main-portfolio {
  text-align: -webkit-center;
  padding-top: 105px;
}

.main-portfolio__header {
  @include main-style;
  height: 39px;
  width: 164px;
  font-size: 24px;
  font-weight: 600;
  line-height: 39px;
}

.main-portfolio__line {
  position: relative;
  padding-top: 9px;
  height: 8px;
  width: 155px;
  border-bottom: 1px solid $textColor;
  border-right: 1px solid $textColor;
  border-left: 1px solid $textColor;
}

.main-portfolio__line::before {
  content: "-";
  position: absolute;
  left: -5px;
  top: -11px;
}

.main-portfolio__line::after {
  content: "-";
  position: absolute;
  right: -5px;
  top: -11px;
}

.main-portfolio__text {
  @include main-style;
  padding-top: 15px;
  height: 52px;
  width: 442px;
  font-size: 17px;
  line-height: 26px;
  text-align: center;
}


.portfolio-info {
  padding-top: 75px;
  display: flex;
  justify-content: space-between;
}

.portfolio-body {
  position: relative;
  cursor: pointer;
  transition: .5s;
  &:hover {
   .portfolio-icon {
     opacity: 1;
   }
  }
}

.portfolio-header {
  position: absolute;
  text-transform: uppercase;
  top: 100px;
  left: 65px;
  height: 32px;
  width: 230px;
  color: #FFFFFF;
  font-family: $font-family;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 32px;
  text-align: center;
}

.portfolio-text {
  position: absolute;
  top: 126px;
  left: 100px;
  height: 25px;
  width: 160px;
  color: #FFFFFF;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 25px;
  text-align: center;
}



.portfolio-icon {
  position: absolute;
  top: 184px;
  right: 1px;
  height: 60px;
  width: 101px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.icon-attach {
  position: absolute;
  top: 20px;
  left: 22px;
  height: 17px;
  width: 17px;
}

.icon-search {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 17px;
  width: 17px;
}

.portfolio-buttons {
  display: flex;
  justify-content: space-around;
  padding-top: 35px;

}

.button-prev {
  box-sizing: border-box;
  height: 45px;
  width: 45px;
  border: 1px solid $textColor;
  border-radius: 5px;
  background-color: #FFFFFF;
  padding-top: 1px;
  margin-left: 268px;
}

.button-next {
  box-sizing: border-box;
  height: 45px;
  width: 45px;
  border: 1px solid $textColor;
  border-radius: 5px;
  background-color: #FFFFFF;
  margin-right: 267px;
}

.button-prev:hover,
.button-next:hover {
  cursor: pointer;
}

.button-prev__arrow {
  transform: rotate(90deg);
  height: 11px;
  width: 18px;
}

.button-next__arrow {
  transform: rotate(-90deg);
  height: 11px;
  width: 18px;
}

.button-main__all {
  box-sizing: border-box;
  cursor: pointer;
  height: 45px;
  width: 136px;
  background-color: #fff;
  border: 1px solid $textColor;
  border-radius: 5px;
}

.button-main__all:hover {
  background-color: #393737;
  color: #FFFFFF;
}


.button-main__text {
  @include main-style;
  height: 25px;
  width: 84px;
  font-size: 15px;
  line-height: 25px;
}

.button-main {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}