@mixin img-hover {
  opacity: 0.9;
  transform: scale(1.05);
}

@mixin main-style {
  letter-spacing: 0;
  font-family: $font-family;
  color: $textColor;
}

.main-posts {
  text-align: -webkit-center;
  padding-top: 78px;
}

.main-posts__header {
  @include main-style;
  height: 39px;
  width: 129px;
  font-size: 24px;
  font-weight: 600;
  line-height: 39px;
}

.main-posts__line {
  position: relative;
  padding-top: 10px;
  height: 8px;
  width: 122px;
  border-bottom: 1px solid #4D4949;
  border-right: 1px solid #4D4949;
  border-left: 1px solid #4D4949;
}

.main-posts__line::before {
  content: "-";
  position: absolute;
  left: -5px;
  top: -11px;
}

.main-posts__line::after {
  content: "-";
  position: absolute;
  right: -5px;
  top: -11px;
}

.main-posts__text {
  @include main-style;
  padding-top: 14px;
  height: 26px;
  width: 442px;
  font-size: 17px;
  line-height: 26px;
  text-align: center;
}

.division {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 100px;
}

.post-img {
  height: 244px;
  width: 360px;
  cursor: pointer;
}
.post-img:hover {
  @include img-hover;

}
.post-header {
  @include main-style;
  height: 32px;
  width: 360px;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  padding-top: 15px;
}

.post-text {
  @include main-style;
  height: 96px;
  width: 360px;
  font-size: 15px;
  line-height: 24px;
  padding-top: 22px;
}

.post-date {
  position: relative;
  padding-top: 42px;
  height: 25px;
  color: #818181;
  font-family: $font-family;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 25px;
}

.post-time {
  padding-left: 20px;
}

.post-time::before {
  content: ".";
  position: absolute;
  left: 85px;
  top: 37px;
}

.icon-comment {
  height: 13px;
  width: 14px;
  margin-left: 22px;
}

.post-time::after {
  content: ".";
  position: absolute;
  left: 181px;
  top: 37px;
}