@mixin main-style {
  letter-spacing: 0;
  font-family: $font-family;
  color: $textColor;
}


.testimonials {
  background-image: url('../img/testimonial.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 527px;
  margin-top: 60px;
}

.container-wrapper {
  max-width: 1160px;
}

.testimonials-info {
  position: relative;
  left: 140px;
  text-align: -webkit-center;
  padding-top: 55px;
}

.testimonials-info__header {
  @include main-style;
  height: 39px;
  width: 164px;
  font-size: 24px;
  font-weight: 600;
  line-height: 39px;
  padding-top: 25px;

}

.testimonials-info__line {
  position: relative;
  margin-top: 24px;
  padding-top: 9px;
  height: 8px;
  width: 128px;
  border-bottom: 1px solid $textColor;
  border-right: 1px solid $textColor;
  border-left: 1px solid $textColor;
}

.testimonials-info__line:before {
  content: "-";
  position: absolute;
  left: -5px;
  top: -11px;
}

.testimonials-info__line::after {
  content: "-";
  position: absolute;
  right: -5px;
  top: -11px;
}

.testimonials-answer {
  position: relative;
  left: 140px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.testimonials-body {
  position: relative;
  height: 265px;
  width: 280px;
  border-radius: 5px 0 0 5px;
  background-color: $textColor;
}

.testimonials-text::before {
  content: "“";
  position: absolute;
  top: 31px;
  left: 32px;
  height: 45px;
  width: 13px;
  color: #FFFFFF;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 45px;
}

.testimonials-text {
  padding-top: 53px;
  padding-left: 47px;
  height: 104px;
  width: 230px;
  color: #FFFFFF;
  font-family: $font-family;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 26px;
}

.testimonials-name {
  position: relative;
  top: 90px;
  left: 46px;
  height: 25px;
  width: 73px;
  color: #FFFFFF;
  font-family: $font-family;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 25px;
}

.testimonials-role {
  position: relative;
  top: 90px;
  left: 47px;
  height: 25px;
  width: 110px;
  color: #FFFFFF;
  font-family: $font-family;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 25px;
}


.testimonials-button__prev {
  position: relative;
  top: 167px;
  left: 95px;
  box-sizing: border-box;
  height: 45px;
  width: 45px;
  border: 1px solid $textColor;
  border-radius: 5px;
  background-color: #FFFFFF;
  padding-top: 1px;
  margin-left: 268px;
}

.testimonials-button__next {
  position: relative;
  top: 167px;
  left: 712px;
  box-sizing: border-box;
  height: 45px;
  width: 45px;
  border: 1px solid $textColor;
  border-radius: 5px;
  background-color: #FFFFFF;
  margin-right: 267px;
}

.testimonials-button__prev:hover,
.testimonials-button__next:hover {
  cursor: pointer;
}

.user-testimonials {
  border-radius: 0 5px 5px 0;
}