
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 1440px;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: $textColor;
}

li {
  list-style: none;
}
