$font-family:'Hind Siliguri', sans-serif;
$textColor: #4D4C49;
$foldersFirstColor:linear-gradient(90deg, rgba(211,212,135,1) 0%, rgba(186,212,146,1) 35%);
$foldersSecondColor:linear-gradient(90deg, rgba(167,194,253,1) 0%, rgba(164,192,253,1) 35%);
$foldersThirdColor:linear-gradient(90deg, rgba(255,129,129,1) 0%, rgba(255,160,160,1) 35%);

